/*TEST*/
#btnAdd {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: green;
}


#tbody, table ,td {
    text-align: left;
    border: 1px solid black;
    color: black;
    padding: 5px;
    margin: 5px;
    border-collapse: collapse;
}
tr:hover {
    cursor: pointer;
    background: #ECE9E9FF;
}

th:hover, td:hover {
    background: #BEBCBCFF;
}

.th_header_dynamic {
    text-align: center;
    border: 1px solid black;
    color: blue;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    border-collapse: collapse;
}

.edit_btn {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    color: whitesmoke;
    border-collapse: collapse;
}

.edit_btn:hover {
    margin: 5px;
    border-radius: 5px;
}